
.container__footer-top {
  background: orangered;

}

.title--plan {
  margin:0;
}

.container__buttom {
  background-color: #385461;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
