.header {
  background-image: url(https://dktovmf07nr2a.cloudfront.net/theme_assets/24D7322E-43E7-40FE-BD86-0A80C12AC93C/assets/personal-trainer/lift-ca9207b6ae.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  height: 600px;
  line-height: 22.4px;
  position: relative;
}