doctype
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title personal trainer

    body

        include sections/header
        include sections/nav
        include sections/performance
        include sections/personal_trainer
        include sections/plans
        include sections/contacts





