section.contacts
    .container
        .title.contacts__title
            h1.title--contacts Call or stop by
            .title__contacts--text We're open 24hrs per day, 7 days per week

        .container__contacts__info
            ul.contacts--list
                li
                    a.contacts__social
                        i(class="fa fa-map-marker" aria-hidden='true')
                li 123 Kangaroo Street
                li Melbourne 3000
                li Australia


            a.contacts--tel
                i(class="fa fa-phone" aria-hidden='true') +380678945611

            ul.contacts--list--social
                li.contacts__icon
                    a.mail
                        i(class= "fa fa-envelope" aria-hidden="true")

                li.contacts__icon
                    a.mail
                        i(class= "fa fa-twitter" aria-hidden="true")

                li.contacts__icon
                    a.mail
                        i(class="fa fa-instagram" aria-hidden="true" )

                li.contacts__icon
                    a.mail
                        i(class="fa fa-facebook" aria-hidden="true" )