section.performance
    .container
        .title.title--with-btn
            h1.title__header Performance PRO
            .title__header--text Reach your fitness & health goals, FAST!

        .title__text At Performance PRO, we believe that reaching goals requiresa holistic approach. We help you set realistic goals, work with you to plan your path to achieving them, adjust as you falter and grow, and celebrate with you when you nail it in the end!
        a.button.performance__btn(href="#") contact me for two free sessions!