section.plan
    .container__plan--title
        .title.plan__title
            h1.title--plan Training Plans
            .title__plan--text Our standard training plans are the best way to achieve your goals. We charge per session, and the more sessions you do per week, the less we charge!
    .container__plan--block
        ul.plan__list
            li.clip
                .plan__period Twice Weekly
                .plan__price $150/wk
                hr
                ul.clip__contain
                    li.clip__contain--item Nutrition Planning
                    li.clip__contain--item Strength Training
                    li.clip__contain--item Cardio Sessions
                    li.clip__contain--item $75 per session
                a.button.plan__btn(href="#") BOOK NOW!
            li.clip
                .plan__period 3x Per Week
                .plan__price $195/wk
                hr
                ul.clip__contain
                    li.clip__contain--item Nutrition Planning
                    li.clip__contain--item Strength Training
                    li.clip__contain--item Cardio Sessions
                    li.clip__contain--item $75 per session
                a.button.plan__btn(href="#") BOOK NOW!

            li.clip
                .plan__period Punch Pass
                .plan__price $100/visit
                hr
                ul.clip__contain
                    li.clip__contain--item Nutrition Planning
                    li.clip__contain--item Strength Training
                    li.clip__contain--item Cardio Sessions
                    li.clip__contain--item $75 per session
                a.button.plan__btn(href="#") BOOK NOW!